@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --primary-color: #8263a3;
    --text-dark: #232637;
    --white: #ffffff;
    --max-width: 1200px;
}
.btn {
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;

}
body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #dbdce0;
}
body::after{
    content: "";
    position: fixed;
    width: 0;
    height: 100%;
    background-color: var(--text-dark);
    top: 0;
    right: 0;
    z-index: -1;
    animation: body-bg 0.7s ease-in-out forwards;
}
@keyframes  body-bg {
    0%{
        width: 0vw;
    }
    100%{
        width: 50vw;
    }
}
body::before{
    content: "0";
    position: fixed;
    top: 0;
    left: 0;
    font-size: 70rem;
    font-weight: 100;
    color: var(--white);
    transform: translate(-50%,-50%);
    opacity: 0.5;

}
.container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: var(--max-width);
    margin-inline: auto;
    overflow: hidden;
}
nav{
    padding-block: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

}
.nav__links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav__links a{
    font-weight: 500;
}
.nav__links .logo{
    font-weight: bold;
    font-size:20px;
}
.nav__right li a{
    color: var(--white);
}

.nav__links a:hover
{
    color: var(--primary-color);
    transition: 0.2s ease-in;

}
.nav__left li a{
    color: var(--text-dark);
}
.letter-s{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40rem;
    font-weight: 900;
    color: var(--primary-color);
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 200px;
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));

}
.container h4{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    color: var(--white);
    letter-spacing: 25px;
}

.text-left {
    transform: translate(calc(-50% - 250px), -50%);
}
.text-right {
    transform: translate(calc(-50% + 250px), -50%);
}
.EXPLORE{
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 225px));
    color: var(--text-dark);
    background-color: var(--white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
.Print{
    top: 50%;
    right: 0;
    border: 2px solid var(--white);
    background-color: transparent;
    color: white;
    transform: translate(0, -50%) rotate(90deg);
    padding: 0.8rem 2rem;
    transition: 0.2s;

}
.Print:hover{
    background-color: var(--white);
    color: black;
}

.Catalog{
    top: 50%;
    left: 0;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    transform: translate(0, calc(-50% - 200px)) rotate(270deg);
    padding: 0.8rem 2rem;
    transition: 0.2s;

}
.Catalog:hover{
    background-color: var(--white);
    border-color: white;
}
h5{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 500;
}
.container h5::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 50%;
}

.feature-1{
    color: var(--text-dark);
    transform:translate(calc(-50% - 300px),calc(-50% - 200px)) ;
}
.feature-2{
    color: var(--white);
    transform:translate(calc(-50% + 300px),calc(-50% + 200px)) ;
}
.feature-3{
    color: var(--text-dark);
    transform:translate(calc(-50% - 300px),calc(-50% + 200px)) ;
}
.feature-4{
    color: var(--white);
    transform:translate(calc(-50% + 300px),calc(-50% - 200px)) ;
}
.feature-1::after,
.feature-3::after{
    right: 0;
    transform: translate(calc(100% + 40px), -50%);
    background-color: var(--text-dark);
}
.feature-2::after,
.feature-4::after{
    left: 0;
    transform: translate(calc(-100% - 40px), -50%);
    background-color: var(--white);
}
footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-inline: 1rem;
    bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer p{
    font-size: 14px;
}
footer .footer__links{
    display: flex;
    gap: 26px;
}
footer .footer__links li a{
    color: white;
    font-weight: 400;
}
footer .footer__links li a:hover{
    color: var(--primary-color);
    transition: 0.3s;
}
